*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: black;
    position:absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.navbar input[type=text]{
    padding: 10px;
    border-radius: 5px;
    border-width: 100%;
}

.tab{
    overflow:hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
.tab a{
    text-decoration: none;
}
  .tab button:hover {
    background-color: rgb(161, 161, 161) ;
  }
  
  .tab button.active {
    background-color: #ccc;
  }

h4{
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
    margin: 15px;
}
.index-category{
    width:100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}
.index-category p{
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 22px;
}
.index-category-box{
    width: 300px;
    height: 300px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center ;
    position:relative;
    border-radius: 30px;
}
.index-category-box:nth-child(2){
    background-image: url(carbonara.jpg);
}

.index-category-box h3{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
}
.index-category a{
    text-decoration: none;
    color: white;
}
.dark-overlay{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000;
    opacity: 0;
    transition:all ease-in-out 200;
    border-radius: 30px;
}
.index-category-box:hover .dark-overlay{
    opacity:0.5;
}

